.login-page {
  padding: $vel-gutter-width;
}

.form-login {
  width: 450px;
  padding: $vel-gutter-width;
  background-color: rgba(black, .8);
  border-radius: $vel-border-radius;

  &__create-token {
    display: inline-block;
    padding: 12px 0 8px;
    font-size: $vel-font-size - 2;
    transition: all .35s ease;
  }

  .input-group {
    > .form-control {
      border: 0;
      padding: 14px 15px 12px;
      font-size: $vel-font-size - 2;

      &:focus,
      &:active {
        box-shadow: none;
      }
    }

    .input-group-text {
      padding: 1px 15px 3px;
      color: white;
      background-color: $vel-color-primary;
      border-color: $vel-color-primary;
      font-size: $vel-font-size + 6;
    }
  }

  .btn {
    width: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
