$vel-font-family:             'Roboto', sans-serif;
$vel-font-size:               16px;

$vel-color-primary:         #47aaa3;
$vel-color-secondary:       #5c6ac4;

$vel-text-color-primary:    #fff;
$vel-text-color-secondary:  #212121;
$vel-border-color:          rgba(255, 255, 255, 0.5);
$vel-border-radius:           0.25rem;

$vel-body-bg:               #3c403f;

$vel-gutter-width:            30px;

$nocolor:                     transparent;
