@import 'variables';
@import 'global';
@import 'header';
@import 'footer';
@import 'login';
@import 'user';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: $vel-font-family;
  font-size: $vel-font-size;
  color: $vel-text-color-primary;
  background-color: $vel-body-bg;
}

.server-select {
  position: fixed;
  bottom: 15px;
  right: 30px;
  z-index: 9;

  &__group {
    min-width: 180px;
  }
}

.loader {
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  border: 6px solid $vel-text-color-primary;
  border-radius: 50%;
  border-top: 6px solid $vel-color-primary;
  border-bottom: 6px solid $vel-color-primary;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

//CONTENT
.app-container {
  &--loading {
    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
    }
  }
}

.main-content {
  min-height: calc(100vh - 237px);

  &--login {
    background-image: url('/images/bg-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--loading {
    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.table-statement {
  font-size: $vel-font-size - 4;

  &__col-detail {
    width: 320px;
    max-width: 320px;
  }

  &__tfoot {
    font-size: $vel-font-size - 1;
    font-weight: 500;
  }

  thead {
    th {
      font-weight: 500;
    }
  }
}

.sales-report {
  padding: $vel-gutter-width 0;
  color: $vel-text-color-secondary;
}

.statement-total {
  padding: 0 15px;

  span {
    min-width: 150px;
    color: $vel-color-secondary;
    font-size: $vel-font-size + 2;
    font-weight: 500;

    &.color-secondary {
      color: $vel-color-primary;
    }
  }
}

.purchases {
  padding: $vel-gutter-width 0;
  color: $vel-text-color-secondary;
}
